#container{

    font-size:19px;
}
#about{
font-size:19px;

}

#blog{

font-size:19px;
}

#portfolio{
font-size:19px;

}

#members{
font-size:19px;


}

#contact{
font-size:19px;

}
.navmenu{
    height: 2%;
}
.topbackg{
justify-content: center;
text-align: center;
position: absolute;
margin:auto;
font-size: 64px;
color: #fff;
}
.tophome{

    width: 100%;
    height: 100%;
    vertical-align: middle;
}
