#container{

    font-size:19px;
}
#about{
font-size:19px;

}

#blog{

font-size:19px;
}

#portfolio{
font-size:19px;

}

#members{
font-size:19px;


}

#contact{
font-size:19px;

}
.navmenu{
    height: 2%;
}
.topbackg{
margin:auto;
font-size: 64px;
color: #fff;
justify-content: center;
text-align: center;
position: absolute;

vertical-align: middle;
z-index: 2000;
}
.tophome{

    width: 100%;
    height: 100%;
}
.toptext{
position: absolute;
width: 100%;
text-align: center;
vertical-align: middle;
color: #fff;
font-size: 44px;
letter-spacing: 2.5px;
line-height: 4.9px;
opacity: 1;

}
.toptext h1{

    padding-top: 250px;
    color: #fff;
    font-size: 72px;;
    letter-spacing: 2.5px;
    line-height: 5.9px;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: light-blue;

}
.toppart{
position: relative;
vertical-align: middle;
align-content: center;
justify-content: center;
margin: auto;

}
.teamimg{
  height: 400px;
}
.gridset{
height: 500px;
}

.contact{
  padding-bottom: 5%;
}
.portfoliosec{
padding-top: 7%;
padding-bottom: 7%;

}
.about{
  padding-bottom: 7%;

}
.team{

}
header a.hover{
color: blue;

}
.menu--viola .menu__link:hover{
color: #1E90FF;

}
body{

}
